/* dark mode */
/* normal/light css */
@media (prefers-color-scheme: dark) {
    /* dark css here */
    html,
    img,
    picture,
    video {
        filter: invert(1) hue-rotate(180deg);
    }

    .invert {
        filter: invert(1) hue-rotate(180deg);
    }
}